<div id="qr-code-texto">
    <img src="img/qrcode.png"><br>
    Leia o QRCode que está no<br> Auto Atendimento.
</div>
<div id="qr-code-background" mn-touch swipe-right="swipeRight()">
    <div ng-if="0" id="btn-digite-qrcode" ng-click="digite()">
        <i class="mdi mdi-content-text-format"></i><br>
        Digite o<br>código QR
    </div>
    <div ng-if="0" id="btn-flash" ng-click="flash()">
        <i class="mdi mdi-image-flash-{{flashAtivo}}"></i><br>
        {{flashTexto}} as lanternas
    </div>
</div>