<md-content class="scrollable-content" scroll flex md-scroll-y>
    <a id="btn-atualizar" ng-click="atualizar()">Atualizar vendas</a>

    <ul ng-if="PRODUTOS">
        <li ng-repeat="PROD in PRODUTOS">
            <div class="info">
                <h4>{{PROD.NOME}} <i ng-if="PROD.CONTEUDO != NULL">({{PROD.CONTEUDO}})</i></h4>
                <label><span class="v">{{PROD.PRECO_FORMAT}}</span></label>
                <p ng-if="PROD.DESCRICAO != NULL">{{PROD.DESCRICAO}}</p>
                <br><a class="a-btn" ng-click="check(PROD)"><i class="mdi mdi-navigation-check"></i> Entregue</a>
            </div>
            <div class="img"><img src="{{PROD.IMAGEM}}" onerror="onErrorProd(this)"></div>
            <div class="clearBoth"></div>
        </li>
    </ul>

    <h4 id="nenhumRegLocalizado" ng-if="!PRODUTOS.length">Nenhum registro localizado!</h4>
</md-content>